.bg-image {
  width: 300px;
  min-width: 200px;
  background-image: url("../assets/pattern2.jpg");
  background-size: contain;
  box-shadow: inset -3px -12px 15px 0px #726f6f75;
  position: relative;
}

.bg-image-mobile {
  height: 34vh;
  background-image: url("../assets/pattern2.jpg");
  background-size: contain;
  /* position: relative; */
  display: flex;
  justify-content: center;
  /* box-shadow: inset 1px -2px 20px 0px #726f6f75; */
}

.quotes {
  /* position: absolute; */
  /* bottom: 100vh; */
  /* width: 86%; */
  height: 330px;
  position: fixed;
  left: 10px;
  max-width: 23%;
  margin: 20vh auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quotes .user-library {
  background-color: rgba(255, 255, 255, 0.923);
  border-radius: 20px;
  text-align: center;
  padding: 10px 0;
}

.bg-image-mobile .user-library {
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.923);
  border-radius: 20px;
  text-align: center;
  padding: 10px 0;
  margin-top: 15px;
}

.quotes .quotes-wrap {
  background-color: rgba(255, 255, 255, 0.923);
  border-radius: 20px;
}

.quotes-mobile {
  width: 100%;
  margin: 20px auto;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.799);
}

.app {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.body-width {
  width: 100%;
}

@media (min-width: 576px) {
  .body-width {
    width: 75%;
  }
}

@media (max-width: 575px) {
  .content-body {
    width: 92%;
    background-color: white;
    margin: -70px auto 30px auto;
    box-shadow: 0 -8px 8px 0px #cdcccc75;
    border-radius: 10px;
    min-height: 100vh;
    position: relative;
  }
}

/* .footer {
  position: absolute;
  bottom: 0;
  width: 75%;
} */

.ant-carousel .slick-slider .slick-track,
:where(.css-dev-only-do-not-override-ph9edi).ant-carousel
  .slick-slider
  .slick-list {
  height: 260px;
  width: 100%;
}

.ant-carousel .slick-dots li button {
  background: #f7a920;
  opacity: 0.4;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #f7a920;
}
